<mat-card>
    <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" class="signup-form">
        <h1 class="card-title">Create<br>Account</h1>
      <mat-form-field>
        <input matInput type="email" placeholder="E-Mail" #emailInput="ngModel" required email name="email" ngModel>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="password" placeholder="Verify Password" name="verify-password" ngModel #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
      <div class="cancel">
          <button mat-raised-button color="accent" type="submit">Sign Up</button>
          <a routerLink="/workout-history">Cancel</a>
        </div>
    </form>
  </mat-card>