<div class="nav-container">

  <div class="menu-btn" [ngClass]="showClasses" *ngIf="userIsAuthenticated" (click)="toggleMenu()">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <nav class="menu-dropdown-container" [ngClass]="showClasses" *ngIf="userIsAuthenticated" (click)="toggleMenu()">

    <div [ngClass]="showClasses" class="menu-branding" (click)="toggleMenu()">
      <div [ngClass]="showClasses" class="user-name" (click)="toggleMenu()">{{userName}}</div>
      <label [ngClass]="showClasses" *ngIf="avatar" [style.background]="'url(/uploads/' + avatar + ')'" class="portrait">
          <input [ngClass]="showClasses" *ngIf="avatar" [style.background]="'url(/uploads/' + avatar + ')'" type="file" (change)="onFileSelected($event)" class="portrait">
      </label>
      <div [ngClass]="showClasses" class="log-out" (click)="onLogout()">Logout</div>
    </div>

    <ul class="nav-menu" (click)="toggleMenu()">
      <li [ngClass]="showClasses" class="nav-menu-item"><a routerLink="/workout-history" (click)="toggleMenu()">Home</a></li>
      <li [ngClass]="showClasses" class="nav-menu-item"><a routerLink="/routines" (click)="toggleMenu()">Routines</a></li>
      <li [ngClass]="showClasses" class="nav-menu-item"><a routerLink="/create-routine" (click)="toggleMenu()">Add Routine</a></li>
      <li [ngClass]="showClasses" class="nav-menu-item"><a routerLink="/log-workout" (click)="toggleMenu()">Log Workout</a></li>
    </ul>

  </nav>

</div>