<mat-card>
    <form (submit)="onSignIn(signInForm)" #signInForm="ngForm" class="signin-form">
        <h1 class="card-title">Login</h1>
      <mat-form-field>
        <input matInput type="email" placeholder="E-Mail" #emailInput="ngModel" required email name="email" ngModel>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <div class="create-account">
          <button mat-raised-button color="accent" type="submit">Login</button>
          <a routerLink="/signup">Create Account</a>
        </div>
    </form>
  </mat-card>
  