.main {
  margin: 7rem 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  height: 100vh;
}

h3.routines-header {
  text-transform: uppercase;
}

.add-routine-container {
  width: 80vw;
}

.add-routine-container button {
  width: 100%;
  background: white;
  color: black;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.routine-list {
  margin: .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.routine-list-item {
  background: white;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.routine-list-item-button-group {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.routine-list-item-button-group button {
  margin: 0 .2rem;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.routine-list-item-button-group__edit-button {
  color: white;
  background: black;
}
